* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e80ce;
    height: 60px;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}
/* =======================================global=================================== */
.header {
    padding: 36px 0px 110px;
    background-color: #10375c;
}

.header-top {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 1rem;
}

/*  logo img */
.logo__image {
    position: relative;
}
.logo__image::before {
    content: "";
    width: 3em;
    height: 3em;
    display: block;
    background-color: #2e80ce;
    border-radius: 50%;
}
.logo__image::after {
    position: absolute;
    left: 1.1em;
    top: 1.1em;
    content: "";
    width: 1.6em;
    height: 1.6em;
    display: block;
    background-color: #fff;
    border-radius: 50%;
}
/* logo text */
.logo-text__content {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.77;
}

.logo-text__content--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 0.85;
}
/* ======================================= nav-============================ */
.nav-bar {
    display: flex;
    position: relative;
    gap: 42px;
    padding: 0px;
    margin-left: 318px;
    margin-right: 214px;
}

.nav-bar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.nav-bar__link:first-child {
    color: #fff;
    font-weight: 400;
}

.nav-bar__link:first-child::before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 10px;
}
/*  ============================action btn========================= */
.action {
    display: flex;
    align-items: center;
}

.action__btn--login {
    color: #c9d2da;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.action__btn--signup {
    margin-left: 28px;
    width: 104px;
    height: 44px;
    border-radius: 22px;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}
/* ======================hero======================= */
.hero {
    margin-top: 76px;
    display: flex;
    gap: 113px;
    align-items: center;
}

.hero-info__heading {
    width: 517px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero-info__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero-info__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.cta__link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.cta__link--click {
    border-radius: 30px;
    padding: 15px 46px;
}

/* ============================= baner==================================== */
.hero-box__hero-banner {
    display: flex;
    align-items: center;
}

.hero-banner_img {
    position: relative;
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero-banner_img--small {
    object-fit: cover;
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 6px;
}
/* ============================== our services=========================== */
.our-services {
    margin-top: 170px;
}

.our-services__top_title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.our-services__top_desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}
/* =================== content our services=================== */
.our-services__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.banner-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
/* ================ content-info==================== */
.content__info__services {
    display: flex;
    align-items: center;
    padding: 21px 22px 20px;
}
.content__info__services:hover {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.content__info__services:not(:first-child) .services_box-img {
    background-color: #fff;
}
/* ====================img==================== */
.services_box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #2e80ce;
    border-radius: 50%;
}

.services__info {
    padding: 21px 22px 20px;
    margin-left: 19px;
}

.name-services {
    color: #10375c;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.desc-services {
    width: 351px;
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.our-services-btn {
    margin-top: 55px;
    width: 205px;
    border-radius: 30px;
}

/* ================================ how it work =========================== */
.works {
    background-color: #f6fbff;
}

.how-it-work {
    margin-top: 170px;
    padding: 100px 0;
}

.how-it-work__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.how-it-work__desc {
    width: 468px;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.work-list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.work-list__items {
    padding: 43px 43px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
}

.work-list__items:hover {
    border: 16px solid #2e80ce;
    position: relative;
    top: -16px;
}

.work-list__items:hover .items__more {
    color: #2e80ce;
}

.items__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.38;
}

.items__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 18px;
}

.items__more {
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
/* ============================== features=========================== */
.features {
    margin-top: 170px;
}

.features-box {
    display: flex;
    gap: 188px;
}

.features-media__box {
    display: flex;
    position: relative;
}

.media--large {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.media--small {
    position: absolute;
    top: 121px;
    right: -58px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}
/* =============================features info======================= */
.features-info {
    margin-top: 82px;
}

.features-info__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.features-info__desc {
    width: 468px;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.features-info__cta {
    margin-top: 38px;
    width: 205px;
    border-radius: 999px;
}

/* ============================ vitural ===================== */
.virtual {
    margin-top: 170px;
}
.virtual-dentist__title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.virtual-dentist__btn {
    margin-top: 38px;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 999px;
}
/* ============================ virtual member======================== */
.group-members {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.member {
    width: calc((100% - 90px) / 4);
    flex: 0 0;
}
.member__bg {
    position: relative;
    width: 270px;
    height: 318px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #eaf6ff;
}

.member-img {
    position: absolute;
    bottom: 0;
}
.member__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.member__info {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}
/* ==================== control ======================*/
.control {
    display: flex;
    gap: 18px;
    margin-top: 38px;
    justify-content: center;
    align-items: center;
}

.control-member {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #575f66;
}

.control-member:hover {
    cursor: pointer;
}

.control-member--next {
    border: none;
    background-color: #2e80ce;
}
/* ============================= install app ========================== */
.install-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 170px;
    padding: 0px 70px;
    background-color: #2e80ce;
}

.phone-app {
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

.install-info {
    width: 50%;
}
.install-info__title {
    color: #fff;

    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.install-info__desc {
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}
/* cta------------------------------ */
.cta {
    display: flex;
    margin-top: 38px;
    align-items: center;
    gap: 28px;
}
.dowload-cta {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 10px;
}

.logo-app {
    margin-right: 6px;
}

.text {
    display: block;
    color: #fff;
    font-size: 1.6rem;
}

.text:last-child {
    font-size: 2.4rem;
}
/* =============================== read ======================= */
.read {
    margin-top: 170px;
}

.read-event {
    display: flex;
    justify-content: space-between;
}

.read-cta__title {
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.read-cta--all {
    margin-top: 28px;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55; /* 155.556% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.post-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.click-box {
    margin-top: 28px;
    display: flex;
    gap: 8px;
}

.click {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
}

.click:hover {
    cursor: pointer;
}

.click--next {
    border: none;
    color: #fff;
    background-color: #2e80ce;
}

/* ============= post list================================= */
.thumbnail {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.post-list {
    display: flex;
    gap: 30px;
}

.post-cart {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}
.post-cart-info {
    padding: 18px 22px 21px;
}

.post-card__title {
    color: #10375c;
    width: 226px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}

.post-card__desc {
    margin-top: 10px;
    color: #575f66;
    width: 226px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    margin-bottom: 12px;
}

.more {
    color: #10375c;
    font-weight: 400;
    font-size: 1.4rem;
}

.more:hover {
    color: #2e80ce;
}
